.bai1 :link{
 color:blue; 
} 

.bai1:visited {
    color:blueviolet; 
}

.bai2 :link{
    color:blue; 
   } 
   
   .bai2:visited {
       color:blueviolet; 
   }

   .bai3 :link{
    color:blue; 
   } 
   
   .bai3:visited {
       color:blueviolet; 
   }

   
      
   